body{
    background-color: black;
    color: aliceblue;
}
#T1{
    background-color: aqua;
    transition: 0.5s;
}
#T1:hover{
    background-color: brown;

}
label{
    filter: drop-shadow(10px 10px 10px white);
}